.form-group{margin-bottom: 5px;padding-left: 10px;}
.form-input{  width: 70%;
  margin: 6px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 15px;}
 .label{  font-size: 16px;
  color: #aaa;}
.form-img{
	float:right;
	width: 20px;
	margin: 11px;
}
.form-button{padding:5px 15px;color:#aaa}
.btn-wrap{border:none;display:inline-block;}
.save{float:left;}
.cancel{float:right;}
.action{margin-bottom:0px;margin-top:15px;}
.add-form{  padding: 20px 10px 0px 20px;
};
