/* ul.ztree  li, */
/* ul.ztree  li  a{ min-height: 26px; line-height: 26px;} */
.ztree li {padding:4px;padding-left:0px;}
.ztree li span.button.root_close,.ztree li span.button.center_close,.ztree li span.button.roots_close,
.ztree li span.button.bottom_close{ background-image: url('../images/icon_ymxjt.png');background-repeat: no-repeat; height: 11px;  margin-left: 5px;background-position:0px 0px;;}
.ztree li span.button.root_open,.ztree li span.button.center_open,.ztree li span.button.roots_open,
.ztree li span.button.bottom_open{ background-image: url('../images/icon_ymxjt.png');background-repeat: no-repeat; height: 11px;margin-right: 5px;background-position:5px -10px;}
.ztree li span.button.bottom_docu{background-position:-56px -36px;margin-right:5px;}
.ztree li span.button.center_docu{background-position:-56px -18px;margin-right:5px;}
  ul.ztree li a{
    position: initial;
  }