html {
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
body {
	-webkit-font-smoothing:antialiased;
	line-height:1.6
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,fieldset,textarea {
	margin:0
}
ul,ol{
	padding-left:0;
	list-style-type:none
}
textarea {
	overflow:auto;
	vertical-align:top;
	resize:none
}
body {
	line-height:1.6;
	font-family:"Helvetica Neue",	"Hiragino Sans GB",	"Microsoft YaHei",	"\9ED1\4F53",	Arial,	sans-serif;
	color:#222;
	font-size:14px
}
textarea,
input {
	color:#222
}
a {
	color:#459ae9;
	text-decoration:none
}
.container_box {
	min-height:700px
}
.container_box.cell_layout {
	*overflow:hidden
}
.container_box.cell_layout .col_side,
.container_box.cell_layout .col_main {
	display:table-cell;
	vertical-align:top;
	word-wrap:break-word;
	word-break:break-all
}
.container_box.cell_layout .col_side {
	width:17.5%;
	max-width:208px
}
.container_box.cell_layout .col_main {
	width:2000px;
	height:700px
}
.container_box.cell_layout .col_side {
	*float:left;
	*width:208px;
	*padding-bottom:9999em;
	*margin-bottom:-9999em
}
.container_box.cell_layout .col_main {
	*zoom:1;
	*width:auto;
	*height:auto
}
.container_hd,.main_hd {
	line-height:40px
}
.container_hd .info,.main_hd .info {
	margin-top:-40px;
	text-align:right
}
.container_hd h2,.main_hd h2 {
	font-weight:400;
	font-style:normal
}
.container_hd .extra_info,.main_hd .extra_info {
	margin-top:-40px;
	text-align:right
}
.ft.links {
	font-size:12px
}
.ft .links_item {
	border-left-color:#f1f1f1;
	*line-height:15px
}
.ft .links_item a {
	color:#f1f1f1
}
.copyright {
	display:inline
}
body.scaled {
	padding-top:56px
}
.page {
	width:100%;
	margin-left:auto;
	margin-right:auto
}
.body {
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	padding:36px 0 88px
}
.container_box {
	border:1px solid #d9dadc;
	background-color:#fff
}
.container_box.simple {
	overflow:hidden;
	background-color:#fff
}
.container_bd,.main_bd {
	padding-bottom:30px
}
.col_side {
	min-height:1px;
	background-color:#fff
}
.inner_side {
	*padding-bottom:9999em;
	*margin-bottom:-9999em;
	min-height:1px
}
.side_l .col_side{border-right:1px solid #e7e7eb}

.grid_item {
	float:left
}
.grid_item.no_extra {
	float:none;
	width:auto;
	overflow:hidden;
	*zoom:1;
	*overflow:visible
}
.grid_item.no_extra_flex {
	display:table-cell;
	vertical-align:top;
	float:none;
	width:auto;
	*display:block;
	*zoom:1
}
.grid_item.no_extra_flex:after {
	content:" . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
	visibility:hidden;
	clear:both;
	height:0!important;
	display:block;
	line-height:0
}
.size1of1 {
	width:100%
}
.size1of2 {
	width:50%
}
.size1of3 {
	width:33.33%
}
.size1of4 {
	width:25%
}
.size1of5 {
	width:20%
}
.size1of6 {
	width:16.66%
}
.size1of7 {
	width:14.28%
}
.size1of8 {
	width:12.5%
}

.tips_box_primary {
	padding:6px 15px;
	background-color:#f1f1f1;
	border:1px solid #d1d1d1;
	color:#666;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px
}
.tips_box_primary .em {
	color:#e15f63
}
.notices_box {
	line-height:40px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	background-color:#fff;
	border:1px solid #e7e7eb
}
.title_bar {
	*zoom:1
}
.title_bar:after {
	content:"\200B";
	display:block;
	height:0;
	clear:both
}
.title_bar .info {
	float:left
}
.title_bar .opr {
	float:right
}
.title_bar {
	padding:0 20px;
	background-color:#f4f5f9;
	border-bottom:1px solid #e7e7eb;
	line-height:40px
}
.title_bar h3 {
	font-size:14px;
	font-weight:400;
	font-style:normal
}
button.btn {
	height:32px;
	line-height:28px
}
.btn button {
	display:block;
	height:100%;
	background-color:transparent;
	border:0;
	outline:0;
	overflow:visible;
	padding:0 22px
}
.btn.btn_input {
	padding:0
}
.btn.btn_input.btn_vcode {
	margin-left:5px
}
.btn.btn_input.btn_vcode button {
	width:110px;
	padding:0
}
.btn.btn_vcode {
	padding:0;
	width:110px;
	margin-left:5px
}
.btn {
	display:inline-block;
	overflow:visible;
	padding:0 22px;
	height:30px;
	line-height:30px;
	*line-height:28px;
	vertical-align:middle;
	text-align:center;
	text-decoration:none;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	font-size:14px;
	border-width:1px;
	border-style:solid;
	cursor:pointer
}
.btn:hover {
	text-decoration:none
}
.btn.btn_mini {
	height:21px;
	line-height:21px;
	*line-height:19px;
	padding:0 10px
}
.btn.btn_small {
	height:25px;
	line-height:25px;
	*line-height:23px;
	padding:0 12px
}
.btn.btn_large {
	height:38px;
	line-height:38px;
	*line-height:36px;
	padding:0 70px
}
.btn.btn_p20 {
	padding:0 20px
}
.btn.btn_p30 {
	padding:0 30px
}
.btn.btn_w125 {
	width:125px;
	padding:0
}
.btn.btn_w150 {
	width:150px;
	padding:0
}
.btn.btn_w220 {
	width:220px;
	padding:0
}
.btn_default {
	background-color:#fff;
	background-image:-moz-linear-gradient(top,#fff 0,#fff 100%);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff));
	background-image:-webkit-linear-gradient(top,#fff 0,#fff 100%);
	background-image:-o-linear-gradient(top,#fff 0,#fff 100%);
	background-image:linear-gradient(to bottom,#fff 0,#fff 100%);
	border-color:#e7e7eb;
	color:#222
}
.btn_default button {
	color:#222
}
.btn_default:hover {
	background-color:#e7e7eb;
	background-image:-moz-linear-gradient(top,#e7e7eb 0,#e7e7eb 100%);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#e7e7eb),to(#e7e7eb));
	background-image:-webkit-linear-gradient(top,#e7e7eb 0,#e7e7eb 100%);
	background-image:-o-linear-gradient(top,#e7e7eb 0,#e7e7eb 100%);
	background-image:linear-gradient(to bottom,#e7e7eb 0,#e7e7eb 100%);
	border-color:#dadbe0;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	color:#000
}
.btn_default:hover button {
	color:#222
}
.btn {
	min-width:60px
}
.btn.btn_input {
	min-width:104px
}
.btn.btn_input button {
	width:100%
}
.btn.btn_add i {
	margin-right:5px;
	margin-top:-2px;
	*margin-top:2px
}
.btn.btn_add .add_gray:hover {
	background:url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z264f38.png") 0 -554px no-repeat
}
.btn.btn_disabled .add_white {
	background:url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z264f38.png") 0 -578px no-repeat
}
.btn.btn_small {
	min-width:0
}

.icon_menu {
	width:18px;
	height:18px;
	vertical-align:middle;
	display:inline-block
}


.menu_box {
	margin-bottom:150px
}
.menu {
	padding-top:6px;
	*font-size:0
}
.menu.closed .menu_item {
	display:none
}


.menu_title {
	position:relative;
	padding:0 30px 0;
	width:auto;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	line-height:34px;
	*font-size:14px;
	color:#8d8d8d
}
.menu_title .new {
	margin-left:3px
}
.menu_title a {
	display:block;
	padding:0 30px 0;
	color:#222;
	text-decoration:none
}
.menu_title a:hover {
	text-decoration:none
}
.menu_title.clickable {
	padding:0
}
.menu_title.clickable i {
	cursor:pointer
}
.menu_title.clickable:hover {
	background-color:#f4f5f9
}
.menu_title.selected {
	background-color:#44b549;
	color:#fff
}
.menu_title.selected:hover {
	background-color:#44b549
}
.menu_title.selected a {
	color:#fff
}


.menu_item {
	line-height:34px;
	*font-size:14px
}
.menu_item a {
	display:block;
	padding:0 0 0 58px;
	width:auto;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	color:#222
}
.menu_item a:hover {
	text-decoration:none
}


.icon_menu {
	margin-right:10px;
	margin-top:-0.2em;
	*margin-top:0
}


.menu {
	padding-bottom:6px;
	border-top:1px solid #e7e7eb
}
.menu.no_extra {
	border-top-width:0;
	margin-top:13px
}
.menu.extra {
	border-bottom:1px solid #e7e7eb
}


body {
	background:#e7e8eb
}