.head .inner{*zoom:1;height:60px}
.head .inner:after{content:"\200B";display:block;height:0;clear:both}
.head .inner.wrp{width:1200px;margin-left:auto;margin-right:auto}
.head_box{position:relative;background-color:#fff;border-top:4px solid #44b549;border-bottom:1px solid #d9dadc}


.icon_inbox{
	background:url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/layout_head_z26f6ea.png") 0 -96px no-repeat;
	width:20px;
	height:15px;
	vertical-align:middle;
	display:inline-block;
	line-height:100px;
	overflow:hidden
}

.account{float:right;padding-top:10px}
.account{font-size:0}
.account_meta{display:inline-block;*display:inline;*zoom:1;vertical-align:bottom}
.account_meta{font-size:14px}
.account_meta_primary a{color:#222}
.account_meta_primary a:hover{color:#459ae9}

.account_info{position:relative;min-width:80px}
.account_info .avatar{position:absolute;top:0;left:-50px;width:38px;height:38px;background-color:#f0f0f0}
.account_info .nickname{display:inline-block;font-weight:400;font-style:normal;margin-top:18px}

.account_logout a{display:inline-block;margin-left:5px;line-height:16px;margin-top:18px;padding-left:14px;border-left:1px solid #e7e7eb}
.logo{float:left;padding-top:10px;font-size:24px;color:#777;}

.logo a:before{display:inline-block;content:url(/mpres/htmledition/images/bg/bg_logo2491a6.png)}
.nickname{margin-right:15px;}
.logout{margin-left:15px;}