
.icon_index_tap {
	width:34px;
	height:34px;
	vertical-align:middle;
	display:inline-block
}
.added_message .icon_index_tap {
	background:url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/page_index_z25b76d.png") 0 0 no-repeat;
	margin-top:8px
}
.added_fans .icon_index_tap {
	background:url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/page_index_z25b76d.png") 0 -44px no-repeat
}
.total_fans .icon_index_tap {
	background:url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/page_index_z25b76d.png") 0 -88px no-repeat
}
.total_money .icon_index_tap {
	background:url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/page_index_z25b76d.png") 0 -132px no-repeat
}

.head_box {
	*z-index:1
}

.index_show_area {
	padding:20px 15px 16px;
	text-align:justify;
	text-justify:distribute-all-lines;
	font-size:0
}
.index_show_area:after {
	display:inline-block;
	width:100%;
	height:0;
	font-size:0;
	margin:0;
	padding:0;
	overflow:hidden;
	content:"."
}

.notices_box {
	margin:0 15px
}

.index_tap {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	text-align:center
}
.index_tap .inner {
	overflow:hidden;
	*zoom:1
}
.index_tap:hover .tap_inner {
	border-left-color:transparent
}
.index_tap a {
	padding-top:26px;
	padding-bottom:26px
}
.index_tap .tap_inner {
	display:block;
	border-left:1px solid #6fa7ce
}
.index_tap.added {
	width:65%
}
.index_tap.added .inner {
	background-color:#7cbae5;
	border:1px solid #6eb0dd
}
.index_tap.added .index_tap_item:hover {
	background-color:#73afd9
}
.index_tap.total {
	width:34%
}
.index_tap.total .inner {
	background-color:#60d295;
	border:1px solid #57c78b
}
.index_tap.total .index_tap_item {
	width:100%
}
.index_tap.total .index_tap_item:hover {
	background-color:#58c88d
}
.index_tap_item {
	float:left
}
.index_tap_item:first-child .tap_inner {
	border-left-width:0
}
.index_tap_item a {
	display:block;
	*zoom:1;
	color:#fff;
	text-decoration:none
}
.index_tap_item .number {
	margin-left:5px;
	font-weight:400;
	font-style:normal;
	vertical-align:middle;
	font-size:35px
}
.index_tap_item .title {
	display:block;
	font-weight:400;
	font-style:normal;
	font-size:16px;
	letter-spacing:2px;
	margin-top:-10px
}

.mp_news_item {
	position:relative;
	border-top:1px solid #e7e7eb;
	font-size:14px
}
.mp_news_item:first-child {
	border-top-width:0
}
.mp_news_item a {
	display:block;
	padding-right:10em;
	padding-left:20px;
	color:#222;
	text-decoration:none;
	cursor:pointer
}
.mp_news_item a:hover {
	color:#459ae9
}
.mp_news_item a strong {
	display:block;
	font-weight:400;
	font-style:normal;
	width:52em;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal
}
.mp_news_item .read_more {
	position:absolute;
	right:20px;
	top:0;
	color:#8d8d8d;
	text-decoration:none
}

.pagination {
	padding:0 15px
}
.pagination_wrp {
	padding:20px 0
}
