.form-group{margin-bottom: 5px;padding-left: 10px;}
.form-input{  width: 265px;
  margin: 6px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 15px;}
.form-select{  width: 35%;
  margin: 6px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 15px;}
.label{  font-size: 16px;
  color: #aaa;  width: 80px;
  display: inline-block; text-align: right;
  }
.form-button{padding:5px 15px;color:#aaa}
.btn-wrap{border:none;display:inline-block;}
.save{float:left;}
.cancel{float:right;}
.action{margin-bottom:0px;margin-top:15px;}
.add-form{  padding: 20px 10px 0px 20px;
};